<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Authentication system</h1>
    <div>
        <form action="" method = "POST">
            {% csrf_token %}
            <p>
                <label for="user_name" > User name</label> 
            <input type="text" id="user_name" placeholder = "user name" name="username"> 
            </p>
            <p>
                <label for="password" type="password" >Password</label>
            <input type="password" id="password" name="password"><br>
            </p>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <!--alert message-->
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>