*{
    margin: 0;
    padding: 0;
    color: blue;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.box{
    background-color: brown;
    width: 200px;
    height: 200px;
    padding: 20px;
    color: white;
    align-items: center;
    text-align: center;
}