*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 70px;
}


nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 233, 233);
    padding: 5px;
    background-color: #0c3136;
}
.nave-conteiner{
    display: flex;
    gap: 60px;
}
li{
    list-style: none;
    font-size: 20px;
}
li:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
}
.main-contain{
    width: 100%;
}

.section-for-image-and-contain{
    /* border: 1px solid aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    width: 100%;
    margin: auto;
    
}
.nav-button:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
    transform: scale(1.05);
    
}
.nav-button{
    font-size: 1.rem;
    margin-top: 20px;
    text-align: center;
    width: 25%;
    height: 50px;
    background-color: #0E1217;
    color: aqua;
    border-radius: 30px;
    box-shadow: 2px 2px 4px white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image-section-image{
    width: 500px;
}
.contain-section{
    width: 600px;
    line-height: 1.5;
    font-weight: 500;
    padding: 20px;
    /* border: 1px solid black ; */
}
.contain-section-name{
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color:#0E1217;
    color: white;
}



                                   /* service section */


.service-container{
    height: 100vh;
    /* border: 1px solid white; */
    /* background: linear-gradient(45deg, #071317,  #070005 ); */
}
.service-title{
    margin-top: 50px ;
    font-size: 60px;
    text-align: center;
}
.service-card-title{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(0, 255, 255, 0.845);
    text-align: center;
    font-weight: 800;
}
.servce-card{
    text-align: center;
    align-items: center;
    width: 300px;
    height: auto;
    padding: 20px 5px;
    border: 1px solid aqua;
    border-radius: 20px;
    box-shadow: 0px 0px 6px aqua;
    font-size: 1.2rem;
    background-color: none;
}
.container-button{
    margin-top: 20px;
}
.btn1{
    margin-right: 30px;
}
.service-card-button{
    margin-top: 20px;
    text-align: center;
    width: 50%;
    height: 50px;
    padding: auto;
    font-size: 1.2rem;
    background-color: #0E1217;
    color: aqua;
    border-radius: 30px;
    box-shadow: 2px 2px 4px white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-card-button:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.1);
    cursor: pointer;
}
.service-cards-design{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.cerde-image{
    width: 100px;
}
.footer-parent-div{
    background: linear-gradient(to left, #0694943e,  #070005 ,#0694944a, #070005  );
    /* background-color: #0694943e; */
}

.footer-child-div{
    /* border: 1px solid red; */
    height: auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.footer-child-div h1{
    /* border: 1px solid red; */
    font-size: 30px;
    margin-bottom: 15px;
}
.footer-child-div li{
    /* border: 1px solid red; */
    line-height: 1.25rem;
    margin: 3px;
    font-size: medium;
}
.contact-info{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
}
i{
    /* border: 1px solid red; */
    width: 30px;
    align-items: center;
    text-align: center;
    padding: 10px;

}
div{
    /* border: 1px solid red; */
}